body
  padding-top: 40px

.jumbotron
  background-image: url('/img/vichy.png')
  padding: 30px

.page-title-1
.page-title-2
  display: inline

.page-title-1
  font-size: 36px
  margin-top: 0px
  margin-right: 16px

#content
  background-color: #f7f7f7
  border: 2px solid #222222
  padding: 40px 40px 20px 40px
  margin-top: 12px

#map
  height: 300px

#notifications
  max-height: 300px
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
  ul
    list-style: none;
    padding: 0
    margin: 0
  li
    background-color: white
    border: 1px solid #dddddd
    padding: 2px 20px 2px 20px
    margin-bottom: 10px
  label
    font-size: medium
  .actions
    text-align: right
    padding-right: 26px
    padding-bottom: 12px
    margin-top: -14px

#notifs-list
  margin-top: 20px

#stats
  text-align: right
  margin-top: 8px

.pin
  .actions
    text-align: center