<div class="container">
  <div class="jumbotron">
    <h1 class="page-title-1">Pinned</h1>
    <p class="page-title-2">Live Notification System Pinned to a Map</p>
    <div id="content">
      <div id="map"></div>
      <div id="notifs-list">
        <div id="notifications"></div>
        <div id="stats"></div>
      </div>
    </div>
  </div>
</div>