<div class="pin-title">{{title}}</div>
<div class="lonlat">
  <span>
    <span class="label">Longitude</span>
    <span class="value">{{lon}}</span>
  </span>
  <span>
    <span class="label">Latitude</span>
    <span class="value">{{lat}}</span>
  </span>
</div>
