<div class="pin-title">New Notification</div>
<div class="lonlat">
  <span>
    <span class="label">Lon</span>
    <span class="value">{{lon}}</span>
  </span>
  <span>
    <span class="label">Lat</span>
    <span class="value">{{lat}}</span>
  </span>
</div>
