{{#if isNormal}}
<p>Showing {{displaying}} out of {{active}} notifications</p>
{{/if}}
{{#if isNothing}}
<p>No notifications yet.. try clicking on the map</p>
{{/if}}
{{#if isOutOfRange}}
<p>There are {{active}} notifications.. try zooming out</p>
{{/if}}
{{#if isShowingAll}}
<p>Showing all {{active}} notifications</p>
{{/if}}