{{#if isNormal}}
<h2>Showing {{displaying}} out of {{active}}</h2>
{{/if}}
{{#if isNothing}}
<h2>No notifications yet.. try clicking on the map</h2>
{{/if}}
{{#if isOutOfRange}}
<h2>There are {{active}} notifications.. try zooming out</h2>
{{/if}}
{{#if isShowingAll}}
<h2>Showing all {{active}} notifications</h2>
{{/if}}